.jumbotron {
	text-align: center;
	background-color: blue;
	padding: 10px;
	color: white;
	margin: 5px;
}

#add-basketballPlayer {
	background-color: blue;
	color: white;
}

button {
	background-color: blue;
	color:white;
}